.about-main-section {
  padding: 100px 0 0 0;
}

.about-title {
  margin-bottom: 25px;
}

.about-main-section p {
  margin-bottom: 18px;
  line-height: 1.8;
  color: #333;
}

.about-image-wrapper {
  position: relative;
}

.about-image-wrapper img {
  width: 100%;
  border-radius: 18px;
  object-fit: cover;
}

.about-image-caption {
  display: block;
  text-align: right;
  font-size: 13px;
  margin-top: 8px;
  color: #666;
}

.stats-section {
  padding: 40px 0;
}

.stat-item {
  padding: 20px;
}

.stat-icon {
  font-size: 28px;
  color: var(--accent);
  margin-bottom: 15px;
}

.stat-number {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 8px;
}

.stat-label {
  font-size: 12px;
  letter-spacing: 2px;
  color: #666;
}
.commitment-section {
  padding:  0;
}

.commitment-title {
  margin-bottom: 30px;
  font-size: 32px;
}

.commitment-list {
  list-style: disc;
  padding-left: 20px;
  color: #444;
}

.commitment-list li {
  margin-bottom: 25px;
}

.commitment-list strong {
  display: block;
  margin-bottom: 6px;
}

.commitment-list p {
  margin: 0;
  line-height: 1.8;
  color: #333;
}

.commitment-image-wrapper img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.expertise-section {
  padding: 50px 0;
}

.expertise-card {
  text-align: center;
}

.expertise-image-wrapper {
  position: relative;
  overflow: hidden;
}

.expertise-image-wrapper img {
  width: 100%;
  object-fit: cover;
}

.expertise-label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--accent);
  color: white;
  font-size: 14px;
  padding: 6px 0;
}

.expertise-content {
  padding: 15px 10px;
}

.expertise-content h6 {
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 14px;
}

.expertise-content p {
  font-size: 14px;
  color: #444;
  line-height: 1.2em;
}