.portfolio-showcase {
  padding: 30px 0;
}

/* TEXT */
.portfolio-content h2 {
    font-size: 32px;
    margin-bottom: 0;
}

.portfolio-subheading {
  font-weight: 500;
  margin-bottom: 0;
}

.portfolio-text {
  font-weight: 300;
  margin-bottom: 5px;
}

/* IMAGE GRID */
.portfolio-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:5px;
}

.portfolio-img {
  overflow: hidden;
}

.portfolio-img img {
  width: 100%;
  aspect-ratio: 640 / 427;
  object-fit: cover;

  transition: transform 0.6s ease;
}

.portfolio-img:hover img {
  transform: scale(1.05);
}

@media (max-width: 992px) {
  .portfolio-images {
    margin-top: 30px;
    grid-template-columns: 1fr;
  }
}